body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#container{
    width: 626px;
    margin: 64px auto 64px;
    text-align: center;
}

h1{
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    color: #3F3D56;
    font-weight: 500;
}

h1 span{
    color: #EE24FF;
    font-weight: 700;
}

#container p{
    width: 540px;
    margin: auto;
}

p{
    color: #828282;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
}

p span{
    color: #3F3D56;
    font-weight: 700;
}

#footer{
    margin: 0 auto 40px;
}

.line{
    width: 391px;
    height: 0px;
    margin: 0 auto 16px;
    border: 1px solid #ECEFF2;
}

#footer a + a {
    margin-left: 42px; 
}

#footer a{
    text-decoration: none;
    color: #3F3D56;
    font-weight: 700;
}



